@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color1: #502907;
  --color2: #F9D2AF;
}
/* aabha */
.dialog-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* adjust the z-index to a higher value if needed */
  background-color: var(--color1);
  padding: 20px;
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50%;
  height: 50%;
}
.elem {
 
  z-index: 1000; /* adjust the z-index to a higher value if needed */
  background-color: var(--color1);
  color: var(--color2);
  font-size: 17px;
  font-weight: 500;
  
  
}
.eleme {
 
  z-index: 1000; /* adjust the z-index to a higher value if needed */
  background-color: var(--color2);
  width: 100%;
  height: 100%;
  padding: 5px 5px 5px 5px;
  border: 2px solid var(--color1);
  border-radius: 10px;
  
  
  text-align: top;
  color: var(--color1);
  font-size: 20px;
  font-weight: 450;
  
}
.stickynote {
 
  z-index: 1001; /* adjust the z-index to a higher value if needed */
  background-color: var(--color1);
 
  height: 60%;
  
 
  
}

#close{
  color: var(--color2);
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
}

#addtodo{
  font-size: 25px;
}

#type{
  font-size: 15px;
  margin-bottom: 10px;
}




*{
  background-color: var(--color2);
}

/* navbar */
.navbar{
  display: flex;
  background-color: var(--color1);
  height: 50px;
  align-items: center;
  
}

.nav{
  margin-left: 30px;
  
  height: 40px;
  color: #F9D2AF;
  font-size: 15px;
  font-weight: 300;


  

}

.nav:hover{

  text-decoration: underline;
  /* border: 2px solid #F9D2AF;  
  border-radius: 5px;
  padding: 5px; */
}


#logout{
  margin-left: 1130px;
  background-color: var(--color1);
  height: 30px;
  width: 60px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 2px solid var(--color2);

}

#logout:hover{
  background-color: var(--color2);
  color: var(--color1);
  font-weight: 500;
}



a{
  background-color: var(--color1);
}



/* table */

.heading{
  display: flex;
  justify-content: center;
}

.title1{
  display: flex;
  justify-content: space-evenly;

}

.title1 td{
  height: 40px;
  width: 150px;
  background-color: var(--color1);
  margin: 70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color2);
  font-size: 15px;
}


#add{
  font-size: 20px;
  padding-bottom: 4px;
  background-color: var(--color1);
  
}

.content{
  display: flex;
  justify-content:center;

}

.title2{
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  height: 300px;
  background-color: rgba(102, 145, 232,0.5);
  border-radius: 20px;
  
}

.title2 td{
  height: 100px;
  width: 150px;
  background-color: rgba(102, 145, 232,0.5);
  margin: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 15px;
 

}